@import url("https://fonts.googleapis.com/css2?family=Acme&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --primary-color: #d88729;
  --secondary-color: #eba759;
  --green-success: #12832b;
  --red-cancel: #af3014;
  --color-gray: #d9d9d9;
  --text-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "K2D", sans-serif;
  font-size: 100%;
}

input,
textarea {
  background-color: var(--color-gray);
  border-radius: 12px;
  border: 2px solid #00000055;
  width: 100%;
  padding-left: 0.6rem;
  font-size: 1.2rem;
}

input {
  height: 3rem;
}

textarea {
  padding-top: 0.6rem;
  height: 7rem;
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
  border: 3px solid var(--primary-color);
}

button {
  padding: 8px;
  border: none;
  border-radius: 10px;
  width: 10rem;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.3rem;
}

.body {
  height: 100vh;
  width: 100vw;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  color: var(--text-white);
  background-color: var(--primary-color);
}

.centered {
  text-align: center;
}

.text-left {
  text-align: left;
}
